{% extends "adminpages/adminbase.html" %}
{% block title %}Admin Product List{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>All Product List</h2>
            <a href="{% url 'store:productcreate' %}" class="btn btn-info">Add New Product</a>
             <div class="table-responsive">
                    <table class="table align-middle mt-4">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Product Title</th>
                                <th>Image</th>
                                <th>Price</th>
                                <th>Views</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in allproducts %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{p.title}}</td>
                                <td><img src="{{p.image.url}}" style="height: 60px" alt=""></td>
                                <td>₦{{p.selling_price}}</td>
                                <td>{{p.view_count}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}