{% extends "store/base.html" %}
{% block title %}forgot password{% endblock %}

{% block content %}

<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% if request.GET.m == "s" %}
            <h3>Password reset link is sent to your email address. Please check your email</h3>
            {% else %}
            <h3>Enter User Email</h3>
            {% if request.GET.m == "e" %}
            <h4>Something went wrong, Please enter your email again</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Get Reset Link</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}