{% extends "store/base.html" %}
{% block title %}Registration{% endblock %}

{% block content %}

<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <h3 clas>Register</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Create Account</button>
            </form>
              <p>Already have an account?<a class="text-decoration-none" href="{% url 'store:login' %}"> Login </a></p>
        </div>
    </div>
</div>
{% endblock %}
